.vscode/
.venv/
reservation-server/credentials
reservation-server/__pycache__
reservation-server/custom_dataclasses/__pycache__

reservation-app/.env

node_modules
rebuild.sh

reservation-server/Dockerfile.local