decorator==5.1.1
fastapi==0.108.0
google-api-core==2.19.1
google-api-python-client==2.142.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
pydantic==2.7.1
uvicorn==0.23.2
notion-client==2.2.1
